.site_body{
    margin: 10;
    height: 100vh;
    background-color: rgb(51, 235, 235);
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display:flex;
    flex-direction: center;
    align-items: center;




}

    
.profile_pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: rgb(237, 241, 241);
    align-self: center;
    box-shadow:rgb(14, 13, 13) 2px 5px 5px;

}
.site_text_content{
   


    margin: 1rem;
}